.s-ff6699 path {
  stroke: #ff6699;
  fill: #ff6699;
}

.s-66ccff path {
  stroke: #66ccff;
  fill: #66ccff;
}

.s-cc66ff path {
  stroke: #cc66ff;
  fill: #cc66ff;
}

.s-99ff00 path {
  stroke: #99ff00;
  fill: #99ff00;
}

.s-33ffcc path {
  stroke: #33ffcc;
  fill: #33ffcc;
}

.s-ffff66 path {
  stroke: #ffff66;
  fill: #ffff66;
}

.s-66ff00 path {
  stroke: #66ff00;
  fill: #66ff00;
}

.s-ffffff path {
  stroke: #ffffff;
  fill: #ffffff;
}
