.point {
  //
  transform: translate(-5px,0);

  circle {
    stroke: black;
    stroke-opacity: 1;
    stroke-width: 5;

    fill: white;
    fill-opacity: 1;
    /* vector-effect: non-scaling-stroke; */
    r: 7;
  }

  &.highlight .bottom {
    stroke: #FFF;
    stroke-width: 20;
    stroke-opacity: 0.2;
    /* r: 20; */
  }

  &.golden .bottom {
    stroke: #C90;
    stroke-width: 15;
    stroke-opacity: 1;
    /* r: 20; */
  }

  &.select .bottom {
    stroke: #69F;
    stroke-width: 10;
    stroke-opacity: 0.8;
    /* r: 20; */
  }
}
