<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>GEOMETOR • <!--FILE--></title>
  <link rel="stylesheet" href="../css/style.css" type="text/css">
  <!-- <link rel="stylesheet" href="../css/svg.css" type="text/css"> -->
  <link rel="stylesheet" href="../css/construction.css" type="text/css" />
  <link rel="stylesheet" href="../css/print.css" type="text/css" media="print" />
  <link rel="stylesheet" href="index.css" type="text/css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
  <script src="../js/geometor.ui.js" defer></script>
  <script src="../js/geometor.svg.js" defer></script>
  <script src="index.js" defer></script>
</head>

<body>
  <div id="menu">
    <div id="time">0</div>
    <div id="beats">
      <div>1</div>
      <div>2</div>
      <div>3</div>
      <div>4</div>
    </div>

    <input type="range" id="progress" name="progress"
           min="0" max="100" value="0" step="any">
    <label for="progress">progress</label>
  </div>

  <!--SVG-->


</body>

</html>
