<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>GEOMETOR • Unique External</title>
  <!-- <link rel='stylesheet prefetch' href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css'> -->
  <link rel="stylesheet" href="../css/style.css" type="text/css">
  <link rel="stylesheet" href="../css/svg.css" type="text/css">
  <link rel="stylesheet" href="../css/print.css" type="text/css" media="print" />
  <link rel="stylesheet" href="../css/construction.css" type="text/css" />
</head>

<body>

  <!--SVG-->

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

  <!-- <script src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>

  <!-- <script src='http://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/jquery.ui.touch-punch.js'></script> -->
  <script src="../js/geometor.svg.js"></script>
  <script src="index.js"></script>
  <!-- <script src="js/geometor.ui.js"></script> -->

</body>

</html>
